@import "tailwindcss";

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Dark mode */
@custom-variant dark (&:is(.dark *));

@theme inline {
  /* ==================== App Colors ==================== */
  --color-app-main: var(--app-main);
  --color-app-secondary: var(--app-secondary);
  --color-app-muted: var(--app-muted);
  --color-gold: var(--app-gold);

  --color-success: var(--success);
  --color-error: var(--error);

  /* ==================== Font ==================== */
  --font-inter: var(--font-inter);

  /* ==================== Font Sizes ==================== */
  --text-xs: var(--font-size-xs);
  --text-sm: var(--font-size-sm);
  --text-md: var(--font-size-md);
  --text-lg: var(--font-size-lg);
  --text-xl: var(--font-size-xl);

  /* ==================== Font Weights ==================== */
  --font-weight-regular: var(--font-weight-regular);
  --font-weight-medium: var(--font-weight-medium);
  --font-weight-semibold: var(--font-weight-semibold);
  --font-weight-bold: var(--font-weight-bold);



  /* ==================== Shadcn ==================== */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

:root {
  /* ==================== App Colors ==================== */
  --app-main: #014162;
  --app-secondary: #b5b5b5;
  --app-muted: #555c60;
  --app-gold: #fdc040;

  --success: #42824d;
  --error: #a9090c;

  /* ==================== Font ==================== */
  --font-inter: "Inter", sans-serif;

  /* ==================== Font Sizes ==================== */
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;

  /* ==================== Font Weights ==================== */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;


  /* ==================== Shadcn ==================== */
  --background: #ffffff;
  --foreground: #000000;

  --card: #d1d5dc;
  --card-foreground: #0e1112;
}






/* ==================== base ==================== */

@layer base {
  body {
    @apply bg-background text-foreground font-inter;
  }
}

/* ==================== Utilities ==================== */

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;

  }

  .box-container {
    @apply container mx-auto w-full px-5 md:px-2 lg:px-5 2xl:max-w-[85%];
  }

}